/* SpeakerPage.css */
.speaker-page {
  padding: 20px 16px;
  font-family: 'Gilroy';
  width: -webkit-fill-available;
  background-color: #fff;
}

.speaker-card-full {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  margin-top: 14px;
}

.speaker-image-full {
  width: 100%;
  height: 330px;
  object-fit: cover;
  display: block;
  border-radius: 14px;
}

.favorite-icon-full {
  background: rgba(83, 131, 229, 1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-icon-full svg {
  width: 20px;
  height: 20px;
  stroke: #1c3369;
  fill: none;
}

.speaker-info-full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.speaker-main-info {
  display: flex;
  flex-direction: column;
}

.speaker-name-full {
  font-weight: 900;
  font-family: 'Inter';
  font-size: 26px;
  color: #000;
}

.speaker-position-full {
  font-size: 14px;
  font-weight: 700;
  color: rgba(83, 131, 229, 1);
}

.speaker-talk-full {
  font-weight: 700;
  font-family: 'Inter';
  font-size: 18px;
  color: #000;
}

.speaker-tag-full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-bottom: 4px;
}

.tag-full {
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  font-weight: 400;
}

.speaker-button {
  margin-top: 16px;
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid #000;
  border-radius: 190px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}
